
<table style="margin-left: 100px" >

    <tr>
<td  style="height:500px">
        <div style="padding:10px">  
        
       
      <!-- <input style="width:400px" value='https://app.dyte.io/v2/meeting?id={{meetingid}}' type="text "/>  -->
    </div>
</div>
 
</td>
<td >
    <div class="bigbuttons5">
   
    
    <button disabled="true" (click)="JoinMeetingroom('physics')" class="pushable"><span class="front">
        Physics
      </span></button>
      <button (click)="JoinMeetingroom('physics')"  > <span >
        Join
      </span></button>
      <hr>
    <button disabled="true" (click)="JoinMeetingroom('maths')" class="pushable" ><span class="front">
        Maths 
      </span></button>
      <button (click)="JoinMeetingroom('maths')"  > <span >
        Join
      </span></button>
      <hr>
    <button disabled="true" (click)="JoinMeetingroom('computers')" class="pushable"><span class="front">
        Computer
      </span></button>
      <button (click)="JoinMeetingroom('computers')"  > <span >
        Join
      </span></button>
    </div>
</td>
</tr>
</table>
<div *ngIf="showMeetingroom" >
    <app-meetings  [roomname]="roomname"></app-meetings>
</div>
